Source: qtdeclarative-render2d-opensource-src
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Dmitry Shachnev <mitya57@debian.org>, Lisandro Damián Nicanor Pérez Meyer <lisandro@debian.org>
Build-Depends: debhelper (>= 9), qtbase5-dev (>= 5.7.1+dfsg), qtbase5-private-dev (>= 5.7.1+dfsg), qtdeclarative5-private-dev (>= 5.7.1)
Standards-Version: 3.9.8
Section: libs
Homepage: http://qt-project.org
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/qt/qtdeclarative-render2d.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-kde/qt/qtdeclarative-render2d.git

Package: qtdeclarative5-render2d-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt 5 Quick raster renderer
 This plugin uses the Raster paint engine instead of OpenGL to render the
 contents of a scene graph, thus making it useful when Qt Quick2 applications
 are run in a system without OpenGL 2  enabled hardware.
